{
	"overrides": [
		{
			"files": ["*.blade.php", "*.php", "*.html"],
			"options": {
				"parser": "blade",
				"useTabs": true,
				"tabWidth": 2,
				"sortTailwindcssClasses": true,
				"bracketSameLine": false,
				"wrapAttributes": "force-expand-multiline"
			}
		}
	],
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 6,
	"singleQuote": true,
	"bracketSameLine": true,
	"printWidth": 240
}
